<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
    
<mapper namespace="Board">

<!--1.INFORMBOARD  테이블에서 SQL작업(1.글목록보기)   -->  
<select id="selectList" parameterType="map"  resultType="BoardVO">
    select seq,writer,title,content,pwd,hit,regdate,filename
     	 from (select a.*,rownum rnum
     	   from (select * from INFORMBOARD  
     	         <where>
     	         	<if test="keyWord!=null and keyField=='title'">
     	         	      title like '%' || #{keyWord} || '%'
     	         	</if>
     	         	<if test="keyWord!=null and keyField=='writer'">
     	         	      writer like '%' || #{keyWord} || '%'
     	         	</if>
     	         	<if test="keyWord!=null and keyField=='content'">
     	         	      content like '%' || #{keyWord} || '%'
     	         	</if>
     	         	<if test="keyWord!=null and keyField=='all'">
     	         	      title like '%' || #{keyWord} || '%' or
     	         	      writer like '%' || #{keyWord} || '%' or
     	         	      content like '%' || #{keyWord} || '%'
     	         	</if>
     	         </where>
     	   order by seq desc) a) 
   <![CDATA[
    where rnum >=#{start} AND rnum <=#{end}
     ]]>
</select>
 
 <!-- 2.검색어에 해당하는 총레코드수 구하기(java.lang.Integer->Integer->int) -->
 <select id="selectCount" parameterType="map" resultType="Integer">
    select count(*) from INFORMBOARD 
 			<where>
     	         	<if test="keyWord!=null and keyField=='title'">
     	         	      title like '%' || #{keyWord} || '%'
     	         	</if>
     	         	<if test="keyWord!=null and keyField=='writer'">
     	         	      writer like '%' || #{keyWord} || '%'
     	         	</if>
     	         	<if test="keyWord!=null and keyField=='content'">
     	         	      content like '%' || #{keyWord} || '%'
     	         	</if>
     	         	<if test="keyWord!=null and keyField=='all'">
     	         	      title like '%' || #{keyWord} || '%' or
     	         	      writer like '%' || #{keyWord} || '%' or
     	         	      content like '%' || #{keyWord} || '%'
     	         	</if>
     	         </where>
 </select>
 
 <!--최대값구하기  -->
 <select id="getNewSeq" resultType="int">
     select max(seq) from INFORMBOARD 
 </select>
 
 <!--3.글쓰기 (sysdate,mysql(now()) 
 업로드하는 파일명만 ,jdbcType=VARCHAR(문자열) 추가-->
 <insert id="insertBoard" parameterType="BoardVO">
   insert into INFORMBOARD (seq,writer,title,content,pwd,hit,regdate,filename)
   values(#{seq},#{writer},#{title},#{content},#{pwd},0,sysdate,
             #{filename,jdbcType=VARCHAR})
 </insert>
 
 <!--4.조회수 증가하기 java.lang.String=>String=>string(X) -->
 <update id="updateHit" parameterType="Integer">
    update INFORMBOARD  set hit=hit+1 where seq=#{seq}
 </update>
 
 <!--5.게시물번호에 따른 레코드 한개 상세보기  -->
 <select id="selectBoard" parameterType="Integer" resultType="BoardVO">
     select * from INFORMBOARD  where seq=#{seq}
 </select>
 
 <!-- 6.글삭제하기  -->
 <delete id="deleteBoard" parameterType="Integer">
    delete from INFORMBOARD  where seq=#{seq}
 </delete>
 
 <!-- 7.글수정하기 -->
 <update id="updateBoard" parameterType="BoardVO">
   update INFORMBOARD  set writer=#{writer},title=#{title}
   ,content=#{content},filename=#{filename:VARCHAR}
   where seq=#{seq}
 </update>
 

</mapper>







