<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<package name="com.dogwalker.domain"/>
	</typeAliases>

</configuration>

<!-- 08-06 수정 -->
<!-- 
typeAlias type="com.dogwalker.domain.ItemVO" alias="item"/>
-> <package name="com.dogwalker.domain"/>

-->